.image-gallery {
    display: flex;
    align-items: center;
}

.image-gallery > img {
    align-self: center;
    flex-basis: 80%;
}

.arrow {
    flex-basis: 10%;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.arrow:hover {
    background-color: #ccc;
}