
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic);

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: green;
}

.nav__item {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: greenyellow;
    padding:  10px 2em;
}

.nav__item--active {
    text-decoration: underline;
}

.nav__item:hover {
    background: rgb(101, 168, 0);
    cursor: pointer;
}

.nav__item a {
    text-decoration: none;
    color: black;
}

header > h1 {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: row;
}

.project__info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-family: "Roboto", sans-serif;
}

.project__info > h2 {
    font-family: "Roboto Condensed", sans-serif;
}

.project__info > p {
    font-family: "Roboto", sans-serif;
    margin: 5px 0;
}

.project__info, .project__image {
    margin: 0 1em;
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project__image {
    flex-grow: 1;
}

.project__link {
    text-decoration: none;
    color: black;
    margin: 0;
}